<div class="w-1/2 mt-10 mx-auto">
 <div class="w-1/4 mx-auto text-center">
  <%= link_to 'New Post', new_post_path, class: "px-4 py-2 bg-red-500 rounded-lg text-white" %>
 </div>

 <p id="notice"><%= notice %></p>

  <div class="flex flex-col gap-4 mt-5">
        <% @posts.each do |post| %>
        <div class="shadow-lg h-32 p-5 bg-white rounded-lg">
            <% if member_signed_in? %>
            <p class="text-xl font-bold"> Author: <%= post.member.name %>  </p>
            <% else %>
            <p class="text-xl font-bold"> Author: Anonymous</p>
            <% end %>
            <p class="font-semibold" > <%= post.title%>: </p> 
            <p class="font-normal mt-1" > <%= post.body%> </p> 
        </div>
        <% end %>
  </div>
</div>