<!DOCTYPE html>
<html>
  <head>
    <title>Only Members</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-100">

      <div class="lg:h-10 w-full bg-blue-300 flex justify-between items-center text-lg">
          <ul class="flex">
            <li class="px-5 hover:text-blue-100"> <%= link_to "home", root_path %> </li>
          </ul>
          <ul class="flex">
          <% if member_signed_in? %>
            <li class="px-5 hover:text-blue-100"> <%= link_to "Log Out", destroy_member_session_path %> </li>
          <% else %>
            <li class="px-5 hover:text-blue-100"> <%= link_to "Sign Up", new_member_registration_path %> </li>
            <li class="px-5 hover:text-blue-100"> <%= link_to "Sign In", new_member_session_path %> </li>
          <% end %>
          </ul>
      </div>

      <p class="notice text-center text-red-500"><%= notice %></p>
      <p class="alert text-center text-red-500"><%= alert %></p>
    <%= yield %>


  </body>
</html>
